[color]
        diff = auto
        status = auto
        branch = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = store
[commit]
	template = ~/.stCommitMsg
	gpgsign = true
[rerere]
	enabled = true
[gpg]
	program = gpg2
[user]
	signingkey = 349DD25F
	name = Jason Walker
